span, h6 {

    color: rgba(34, 68, 34, 0.852);
}

hr {

    width: 50%;
}
    
.btn-primary {

    background-color: #1d7431ce!important;
    border-style: none;
}

.btn-light {

    border-style: none;
    background-color: rgba(240, 248, 255, 0.584);
}

.blue {

    background-color: rgba(16, 131, 93, 0.6);
}

#input{ 

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: #262626;
   
    
}

#input:focus {

    outline: none;
    box-shadow: none;
}

#button {

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #262626;
    border-color: #262626;
}

#button:focus {

    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus {
   
    box-shadow: none;
}

.navbar-nav {

    padding-left: 2!important;
}

.navbar-brand  {

    margin-left: 10px!important;
}
